#offcanvas {
    height: 20%;
}

/* .search-canvas-body {
    overflow-x:hi
} */
.canvas-searchbar {
    /* position: relative; */
    width: 30%;
    /* margin: auto; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search-canvas-body {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible !important;
}
.search-dropdown {
    position: relative;
    right: 15px;
}
.css-md26zr-MuiInputBase-root-MuiOutlinedInput-root {
    border-radius: 30px !important;
}

.css-1sumxir-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
    color: red !important;
}
/* .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
    border-color: black !important;
} */