.home-image-row {
    height: 320px;
    background-size: 100%;
}

.card-row {
    text-align: center;
    display: flex;
    justify-content: center;
}

.card-btn {
    background-color: black !important;
    border: none !important;
    margin: 1% auto !important;

    display: flex !important;
    justify-content: center !important;
}

.card-btn:hover #card-btn-arrow {
    transition: 1s;
    transform: translateX(30%);
}

.about-p {
    max-height: 42vh;
    overflow-y: auto;
    overflow-x: hidden;
}

#card-col {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    width: 320px;
}

#card-btn-arrow {
    margin-left: 5px;
}

#end {
    text-align: end;
}

#test{
    background-color: red;
}