
.home-container-row {
    height: 10%;
    /* position: relative; */
} 

.home-row-col {
    /* background-color: red; */
    color: black;
    font-size: 40px;
    overflow-y: auto;     
}

.home-container-row-2 {
    height: 90%;
}

.numberOne-div{
    background-color: black;
    margin: auto;
    margin-top: 3%;
    height: 60vh;
    width: 75%;
    border-radius: 200px;
    text-align: center;
    color: white;
    font-size: 55px;
}

#test{
    background-color: red;
}

.image-div-container {
    position: inherit;
    height: 100%;
    width: 100%;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: blur(8px);
}
.image-div {
    position: relative;
    margin: 0 auto;
    margin-top: 8%;
    text-align: center;
    display: flex;
    justify-content: center;
    height: 50vh;
    width: 75%;
    /* background-color: blue; */
}