html::-webkit-scrollbar{
    display: none;
}

.artist-container {
    display: block;
    /* position: fixed; */
    height: 100%;
    width: 100%;
    /* background: navy; */
}

.artist-header-row{
    position: relative;
    height: 70vh;
    background-size: cover;
    background-position: center;
    /* background-position-y: top; */
    text-align: center;
    font-family: 'azonix';
    /* font-family: var(--font-family,spotify-circular),Helvetica,Arial,sans-serif; */
    font-weight: bold;
}

.layer {
	width: 100%;
	position: fixed;
	z-index: -1;
}

.artist-header-row-col {
    width: 100%;
    height: 100%;
}

.artist-description-row {
    height: 100vh;
    /* background-color: black; */
}


.artist-image-background-col {
    /* background-color: white; */
    display: block;
    color: white;
}

/* #row-2 {
    height: 50%;
    background-color: red;
} */

/* #row-4{
    position: relative;
    background-color: blue;
    height: 50%;
} */
/* #col-1{
    background-color: black;
}
#col-3{
    background: blue;
} */


.revealUp{
    line-height: 120vh;
    color: white;
    font-size: 65px;
    margin: auto;

    animation-name: FadeIn;
    animation-duration: 5s;
    transition-timing-function: ease-in;
}

@keyframes FadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.artist-description-row {
    /* padding: 670px 0 20px 0; */
    padding: 20px 0 20px 0;
}

.carousel {
    /* background-color: black; */
    width: 100%;
}

.flex {
    display: flex;
    justify-content: space-evenly;
}

.songsList-btn {
    position: relative;
    display: block;
    width: 100%;
    height: 20%;
    margin-right: 0px;
}
/* .artist-header-row-col {
    background-color: gold;
    text-align: center;
    font-family: 'Azonix';
} */

/* .artist-image-col {
    background-color: red;
    text-align: start;
} */

/* .image {
    background-color: black;
} */

#row-1 {
    display: flex;
    height: 40%;
}

#carousel-item {
    width: 80%;
    margin-left: 10%;
}

#azonix {
    font-family: 'Azonix';
}