/* 
.ogArtist-container {
    position: relative;
    height: 90vh;
}


.artist-title-row {
    text-align: center;
    background-color: gold;
    font-family: 'Azonix';
}

.artist-info-row {
    position: relative;
    height: 100%;
}

.artist-info-image-row {
    background-color: red;
}

.artist-info-image {

}

.artist-info-row-info {
    background-color: black;
    height: 100%;
    color: gold;
}

#center {
    text-align: center;
} */